# Local Netlify folder
.netlify

# Python
__pycache__/
*.pyc
oss_upload.py

# Node
node_modules/
package.json
package-lock.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Superpowers
.superpowers/
